<div class="col-12">
<br><br><br>
    <div class="row justify-content-md-center mt-5">
        <a href="javascript:void(0)" type="button" onclick="return callmymethod()" class="btn btn-outline-success">Solicitar plato</a>
    </div>
<br>
    <div class="row justify-content-md-center mt-5" id="divcleaneat" > 
        <a href="javascript:void(0)" type="button" onclick="return cleanEat()" class="btn btn-outline-info">Entregar Almuerzo</a>
    </div>
<br>
<br>
</div>

<div class="container">
<div class="row justify-content-center">
    <div class="col-8 text-center justify-content-md-center">
        <table class="table" >
        <thead>
            <tr>
                <th scope="col">N. Order</th>
                <th scope="col">Plato</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody id="order-table">
        </tbody>
        </table>    
    </div>
</div>
</div>
<script>
    $( document ).ready(function() {
        var getUrl = window.location;
        var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        console.log(baseUrl)
    });
    function callmymethod(){
        $.ajax({
            type: 'get',
            url: '/order/create',
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function (data) {
                console.log(data)
                 toastr["success"](`${data.message}`)
            },
            error:function(err){
                console.log(err);
            }
        });
        return false;
    }
</script>