<div class="col-md-4 mx-auto">
    <div class="card card-body">
        <form action="/ingredient/save" method="post">
            <div class="form-group">
                <input class="form-control"  name="name" type="text" placeholder="Lomo saltado" autofocus required>
            </div>
            <div class="form-group">
                <input class="form-control"  name="quantity" type="number" placeholder="3" required>
            </div>
          
            <button class="btn btn-outline-success " type="submit">
                Guardar
            </button>
        </form>
    </div>
</div>       